/* the calendar table style */
option.lst{}
input.btn{}	
ul.bullets {padding-left: 0px;  /*list-style-image:url("example.gif")*/}

.calendarWeekday {vertical-align:top; background-color:;}	
.calendarWeekend {vertical-align:top; background-color:#EEEEEE;}	
.calendarToday {vertical-align:top; background-color: #FFFFDD;}
.daymissing { height:100px;border:1px solid #808080; background-color:#EEEEEE;}
.alerts {text-align: left;}		
.calendarYearSelect {text-align:right;white-space:nowrap;}
.calendarMonthSelect {white-space:nowrap;}
.eventsMode {}
.dayMode{}
.weekMode{border:1px solid #808080;height:100px;}	
.calendarAddEvent {text-align: right; white-space:nowrap; font-size:10px; vertical-align:top;}		
.monthMode{height:100px; border:1px solid #808080;}
.calendarEventList { width:100%; background-color: transparent;}
.calendarUsed{color: gray;}

.calendarTransparent {
  background-color: transparent;
  width:100%;
}

/* defines the text for single day events... other events inherent these base values */
.baseEvent{
	padding:0px;
	border-spacing: 0px;		
	text-align: left;
	font-size: 12px;
}	

/* defines the text for multi-day events... inherents baseEvent */
.repeatEvent{
}

/* defines the text for recurrence type events... inherents baseEvent */
.recurrenceEvent{
	font-weight:bold;
}

.calendar {
  padding:0px;
  border-spacing:0px;
  border:0px solid #808080;
  border-collapse:collapse;
  width:100%;
  background-color:;
}

/* style for the table cell displaying the month title */
.calendarTitle {
  font-size:18px;
  text-align:center;
  font-weight:bold;
}

/* style for the week day headings */
.calendarHeading {
  width:14%;
  text-align:center;
  font-weight:bold;
  background-color:#E0E0E0;	
  border:1px solid #808080;
}

.calendarDayNumber {
  white-space:nowrap;
  border:1px solid #CCCCCC;
  background-color:#E0E0E0;	  
  width:20%;
  text-align: center;
  font-size: 12px;
}

.dayweekyear {text-align:left;font-size:10px;font-style:italic;}

/* eventlist 'mode' day overrrides */
.eventsDay {
  background-color: transparent;
  border:0px;
  font-weight:bold;
  font-style:italic;
  font-size: 16px;
  text-align: left;
}

.singleDay {
  background-color: transparent;
  border:0px;
  font-weight:bold;
  font-style:italic;
  font-size: 14px;
  text-align: left;
}	

/***  Year View Options BEGIN  *******/
.yearCalendar {
  vertical-align:top;
  border:1px solid #808080;
  border-collapse:collapse;
  width:100%;
  text-align: center;
}		

.yearCalendarMonth {
  vertical-align:top;
  border-collapse:collapse;
  width:100%;
  text-align: center;
}	

.yearTitle {
  text-align:center;
  font-weight:bold;
  border:1px solid #808080;
  font-size: 14px;
}

.yearHeading {
  text-align:center;
  font-weight:bold;
  background-color:#E0E0E0;	
  border:1px solid #808080;
  font-size: 12px;
}

.yearWeekend {
  text-align:center;
  background-color:#EEEEEE;	
  border:1px solid #808080;
  font-size: 12px;
}

.yearWeekday { text-align: center; border: 1px solid #808080; font-size: 12px; font-weight: bold; }
.ydate_today { background-color: #f7be2f; color: black; }
.ydate_shown { background-color: #fadc93; }
.ydate_empty { color: #606060; font-weight: normal; }
.ydate_n1 { background-color: #fff0f0; }
.ydate_n2 { background-color: #ffe0e0; }
.ydate_n3 { background-color: #ffd0d0; }
.ydate_n4 { background-color: #ffc0c0; }
.ydate_more5 { background-color: #ffc0c0; }

/******  Year View Options END  *******/

.calpopup { border: 1px solid red; padding: 0 3px; margin: 3px; position: absolute; background: white; text-align: left; }
